.mainTitle {
    font-weight: bold; 
    font-family: cursive;   
    font-size: 4.5em;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
}
.titles {
    text-decoration: underline salmon;
    font-size: x-large;
}
.icon {
    width: 20px;
    position: relative;
}
.ingredients, .instructions {
    text-align: center;
    width: 35vw;
    font-size: large;
    padding-bottom: 5rem;
}
.imageDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    margin-right: auto;
    margin-left: auto;
}
.image {
    border-radius: 20px;
    border-top: 20px solid #FFA384;
    border-right: 20px solid #EFE7BC;
    border-bottom: 20px solid #74BDCB;
    border-left: 20px solid #E7F2F8
}
.theSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 17px;
}
