.headerDiv 
{
  display: block;
  font-family: pacifico;
  font-size: x-large;
  background-color: aquamarine;
  color: black;
  text-align: center;
  padding: 1vh;
  margin-top: -1vh;
  margin-left: -1vh;
  margin-right: -1vh
}