.headerDiv {
  display: block;
  font-family: pacifico;
  font-size: x-large;
  background-color: aquamarine;
  color: black;
  text-align: center;
  padding: 1vh;
  margin-bottom: 1rem
}

.link {
  padding: 8px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 15%; 
  text-align: center;
  background-color: aquamarine; 
}

.UserControls {
  position: absolute;
  top: 0;
  right: 0;
}
