.headerDiv {
  display: block;
  font-size: x-large;
  background-color: aquamarine;
  color: black;
  text-align: center;
  padding: 1vh;
  margin-bottom: 1rem
}
.link {
  padding: 8px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 15%; 
  text-align: center;
  background-color: aquamarine; 
  position: relative;
}
.UserControls {
  position: absolute;
  top: 0;
  right: 0;
}
.logo {
 position: relative;
 margin-right: 50%;
 margin-left: 50%;
 transform: translateX(-50%);
}
.name {
  display: none;
}
