.footerDiv {
  background-color: aquamarine;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  padding-top: .5rem;
}
.container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
}
.imgs {
  height: 2.5rem;
  width: atuto;
}
