.searchButton {
  border-radius: 1rem;
  background: linear-gradient(to bottom, salmon 15%, rgb(247, 171, 162) 100%);
  border: .2rem solid salmon;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 2rem;
  text-shadow: 0rem .01rem 0rem black;
}
.searchButton:hover {
  background: linear-gradient(to bottom, #7fffd4 15%, #62d2ac 100%);
  border: .2rem solid black;
}
.searchButton:active {
  position: relative;
  top: .3rem;
}
.inputField {
  border-radius: 1rem;
  background: linear-gradient(to bottom, #7fffd4 15%, #62d2ac 100%);
  border: .2rem solid salmon;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 2rem;
  text-shadow: 0rem .01rem 0rem black;
} 
.inputField:focus {
  background: linear-gradient(to bottom, salmon 15%, rgb(247, 171, 162) 100%);
  border: .2rem solid black;
}
section {
  text-align: center;
}
.label {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  padding-right: .6rem;
  padding-left: .6rem;
  cursor: pointer;
}
.checkbox {
  cursor: pointer;
  margin-right: .2rem;
}
