.loginContainer {
    /* align-items: center;
    justify-content: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.loginPaper {
    align-items: left;
    height: 100%;
    width: 100%;
}   
.card{
    width: 20%;
    background-color:  aquamarine;
    display: flex;
    flex-direction: column;
    margin: 15rem 0;
    box-shadow: .5rem .5rem 2rem rgba(255, 163, 132, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:5%
    }
.header{
    font-family: pacifico;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .3rem;
    margin-right: .3rem;
    margin-bottom: 5rem;
    text-align: center;
    color: black;
    position: relative;
    }
.submit {
    background-color: #74BDCB;
  color: white;
  padding: 1.5rem 5rem;
  margin: .5rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:6%
}
.input{
    width: 100%;
    padding: 1.5rem 5rem;
    margin: .5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #E7F2F8;
    box-sizing: border-box;
    border-radius:6%
}
.input:hover{
    opacity: 0.8;
}
.submit:hover {
    opacity: 0.8;
  }
